@import "screens-sizes";
@import "colors";
:root {
  font-size: $fs-16px; // 16px standard size

  // Control the font size across all screens based on
  // root font size
  //xsmall is for screen size less than 320px
  @include xsmall {
    font-size: $fs-9px;
  }

  //phone is for screen sizes 320px to 409px
  @include phone {
    font-size: $fs-9px;
  }

  //iphone is from 410px to 499px
  @include iphone {
    font-size: $fs-10px;
    /*font-size: 0.75rem;*/
  }

  //phablet is from 500px to 649px
  @include phablet {
    font-size: $fs-12px;
    /*font-size: 1.15rem;*/
  }

  //tablet is from 650px to 767px
  @include tablet {
    font-size: $fs-13px;
    /*font-size: 1.15rem;*/
  }

  //desktop is from 768px to 1023px
  @include desktop {
    font-size: $fs-15px;
    /*font-size: 1.5rem;*/
  }

  //ipad is from 1024px to 1365px
  @include iPad {
    font-size: $fs-15px;
    /*font-size: 1.35rem;*/
  }

  //hdRes is from 1366px to 1919px
  @include hdRes {
    //font-size: 1.25rem;
    font-size: $fs-16px;
  }

  //hdResSmall is from 1920px to 2435px
  @include hdResSmall {
    font-size: $fs-20px;
  }

  //hdResMedium is from 2436px to 3838px
  @include hdResMedium {
    font-size: $fs-28px;
    /*font-size: 1.5rem;*/
  }

  //hdResLarge is from 3840px
  @include hdResLarge {
    font-size: $fs-36px;
  }
}

@mixin setFont(
  $font-weight,
  $font-style,
  $front-stretch,
  $letter-spacing,
  $text-align
) {
  font-weight: $font-weight;
  font-style: $font-style;
  font-stretch: $front-stretch;
  letter-spacing: $letter-spacing;
  text-align: $text-align;
}

@mixin setPadding(
  $padding-top,
  $padding-left,
  $padding-bottom,
  $padding-right
) {
  padding-top: $padding-top;
  padding-left: $padding-left;
  padding-bottom: $padding-bottom;
  padding-right: $padding-right;
}
@mixin setMargin($margin-top, $margin-left, $margin-bottom, $margin-right) {
  margin-top: $margin-top;
  margin-left: $margin-left;
  margin-bottom: $margin-bottom;
  margin-right: $margin-right;
}
.no-padding {
  @include setPadding(0, 0, 0, 0);
}
.no-margin {
  @include setMargin(0, 0, 0, 0);
}
.container--width {
  max-width: 85%;
  margin: auto;
}

.p-medium {
  font-size: $fs-14px !important;
  line-height: calc(0.875rem * 1.14) !important;
}

.gallery-title {
  font-family: $avenir-medium;
  @include setFont(600, normal, normal, normal, left);
  @include setPadding(0, 0, 0, 0);
  @include setMargin(0, 0, 0, 0);
}
.gallery-sub-title {
  font-family: $avenirNext-medium;
  @include setFont(500, normal, normal, normal, left);
  @include setPadding(0, 0, 0, 0);
  @include setMargin(0, 0, 0, 0);
}
.section__title {
  font-family: $avenirNext-medium;
  @include setFont(500, normal, normal, normal, left);
  @include setPadding(0, 0, 0, 0);
  @include setMargin(0, 0, 0, 0);
}
.common-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__container-position {
  max-width: 100%;
  margin: 0;
}
.modal__content-container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal-header {
  border-bottom: 0;
}
.modal__title {
  color: #fff;
}
.modal-header {
  .close {
    color: #fff;
    text-shadow: none;
    &:focus {
      outline: none !important;
    }
  }
}

.section-divider {
  border-bottom: $fs-1px solid #d5d5d5;
}

.h4-small {
  font-size: $fs-20px !important;
  line-height: calc(1.25rem * 1.14) !important;
}

.title-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.55rem / 1 * 2);
}
.img__container {
  &:hover {
    content: "/f01d";
  }
}
.align-item-unset{
  align-items: unset;
}
.title-nobel-grey{
  color: $nobel-grey;
}
.title-light-grey{
  color: $light-grey;
}
.title-dim-grey{
  color: $dim-grey;
}
