.pt-2px {
  padding-top: $fs-2px;
}
.pb-2px {
  padding-bottom: $fs-2px;
}
.pt-4px {
  padding-top: $fs-4px;
}
.pb-4px {
  padding-bottom: $fs-4px;
}
.pl-4px {
  padding-left: $fs-4px;
}

.pr-4px {
  padding-right: $fs-4px;
}
.pt-8px {
  padding-top: $fs-8px;
}
.pb-8px {
  padding-bottom: $fs-8px;
}
.pl-12px {
  padding-left: $fs-12px;
}

.pr-12px {
  padding-right: $fs-12px;
}
.pt-16px {
  padding-top: $fs-16px;
}
.pb-16px {
  padding-bottom: $fs-16px;
}
.pl-16px {
  padding-left: $fs-16px;
}

.pr-16px {
  padding-right: $fs-16px;
}
