$extrasmall: 320px;
$phone-width: 410px;
$iphone-width: 500px;
$phablet-width: 650px;
$tablet-width: 768px;
$desktop-width: 1024px;
$ipadPro-width: 1366px;
$fdh-width: 1920px;
$hd-width: 2436px;
$qdh-width: 3840px;

//maxwidth-320px
@mixin xsmall {
  @media (max-width: #{$extrasmall - 1px}) {
    @content;
  }
}

//min-width: 320px and max-width: 410px - 1px
@mixin phone {
  @media (min-width: #{$extrasmall}) and (max-width: #{$phone-width - 1px}) {
    @content;
  }
}

//min-width: 410px and max-width: 500px - 1px
@mixin iphone {
  @media (min-width: #{$phone-width}) and (max-width: #{$iphone-width - 1px}) {
    @content;
  }
}

//min-width: 500px and max-width: 650px - 1px;
@mixin phablet {
  @media (min-width: #{$iphone-width}) and (max-width: #{$phablet-width - 1px}) {
    @content;
  }
}

//min-width: 650px and max-width: 768px -1px;
@mixin tablet {
  @media (min-width: #{$phablet-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

//min-width: 768px and max-width:1024px - 1px;
@mixin desktop {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

//min-width: 1024px and max-width: 1366px - 1px;
@mixin iPad {
  @media (min-width: #{$desktop-width}) and (max-width: #{$ipadPro-width - 1px}) {
    @content;
  }
}

//min-width: 1366px and max-width: 1920px - 1px
@mixin hdRes {
  @media (min-width: #{$ipadPro-width }) and (max-width:#{$fdh-width - 1px}) {
    @content;
  }
}

//min-width: 1920px and max-width: 2436px - 1px;
@mixin hdResSmall {
  @media (min-width:#{$fdh-width})and (max-width:#{$hd-width - 1px}) {
    @content;
  }
}

//min-width: 2436px and max-width: 3840px - 1px;
@mixin hdResMedium {
  @media (min-width:#{$hd-width}) and (max-width:#{$qdh-width - 1px}) {
    @content;
  }
}

//min-width: 3840px
@mixin hdResLarge {
  @media (min-width:#{$qdh-width}) {
    @content;
  }
}

//max-width: 1170px;
@mixin mobileBreakPoint {
  @media (max-width: 1170px) {
    @content;
  }
}
